* {
    color: #fbfafd;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
body {
    background-color: #05040f;
}
header {
    background-color: #0c0425;
}
footer {
    background-color: #0c0425;
}
/* texto y links */
a {
    text-decoration: none;
    color: #f8f5ff;
}
.faq h3, input, select, option, textarea {
  color: black;
}
.faq-q {
  background-color: #ffffff;
}
.faq-r{
  color: #f8f5ff;
}

/* accordion */
.accordion-button {
    background-color: #ffffff;
    color: #0c0425;
    font-weight: 600;
}
.accordion-item {
    background-color: #05040f;
}
/* navBar */
.navbar-toggler-icon {
    background-color: #231652;
}
.navbar-toggler {
    background-color: #231652;
}
/* Botones */
.recBtn {
    background-color: #4F22F2;    
}
.insBtn {
    color: #e40356;
    background-color: #FAFBFD;
    font-weight: bolder;
}